@media screen and (max-width: 768px) {
  .navbar-nav {
    align-items: center;
    background-color: #fff;
    position: relative;
    z-index: 900;
  }
  .nav-link {
    color:#000
  }
  .input-group {
    flex-direction: column;
  }
  .input-group > .form-control,
  .input-group > .form-floating,
  .input-group > .form-select {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .navbar.scrolled {
    padding: 20px;
  }
  .filtering-item {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
  }
}
